@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poiret One', cursive;
}

.nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.logo {
    font-size: 1.25rem;
    text-decoration: none;
    font-family: "Bigilla";
    color: #fff;
    flex: 1;
    transition: .3s ease-in-out;
}

.logo:hover {
    letter-spacing: 5px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    position: relative;
}

.menu li a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background: #fff;
    transition: .4s ease-in-out;
}

.menu li a:hover:before {
    left: 0;
    width: 100%;
}

.menu li:first-child {
    border-bottom: 2px solid #fff;
}

.form {
    margin-left: 50px;
    position: relative;
}

.form .btn-search {
    z-index: 2;
}

.form .btn-search ion-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .6;
}

.form input {
    width: 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
    height: 30px;
    padding-left: 30px;
    transition: .5s ease-in-out;
    background: transparent;
}

.form input.search-show {
    width: 300px;
}

.form input:focus {
    border-bottom: 1px solid white;
}

.page {
    display: flex;
    justify-content: space-between;
    background: #000;
    width: 100%;
}

.left-side,
.right-side {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
}

.left-side {
    background: #d45b48;
    z-index: -1;
}

.text {
    color: white;
    position: absolute;
    bottom: 100px;
    left: 0;
    font-size: 1.75rem;
    transform: rotate(-90deg);
    font-weight: bold;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(24, 23, 23, 0.418);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play ion-icon {
    opacity: .4;
    font-size: 3rem;
}

.left-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}

.left-img img {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.right-side {
    left: 50%;
    color: white;
    z-index: -1;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.block-top {
    position: absolute;
    width: 100%;
    top: 0;
    height: 46vh;
    background: #4f4538;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2.8s;
}

@keyframes appear-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper-info {
    margin-top: 100px;
    margin-left: 100px;
}

.wrapper-info .title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 16px;
}

.wrapper-info .subtitle {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.wrapper-info .description {
    color: rgba(8, 8, 8, 0.582);
}

.social {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.social p {
    margin: 32px 0;
    text-transform: uppercase;
}

.social .media {
    display: flex;
    list-style: none;
}

.social .media li {
    margin-right: 20px;
    font-size: 1.25rem;
}

.wrapper-img {
    position: absolute;
    max-width: 900px;
    height: 500px;
    bottom: -10px;
    right: 0;
}

.wrapper-img img {
    max-width: 100%;
    height: auto;
}

.more {
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 1.75rem;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}

.block-bottom {
    position: absolute;
    top: 45%;
    height: 60vh;
    width: 100%;
}

.block-bottom::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #000;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 3.2s;
}

.block-top {
    position: absolute;
    top: 0%;
    height: 46vh;
    width: 100%;
}

.block-top::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #9a8b78;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 2s;
}

@keyframes rev-block {
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

.pages {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-num {
    margin: 100px 0;
}

.btn {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transform: rotate(90deg);
    position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    height: 1px;
    width: 0;
    background: #fff;
    transition: .3s ease-in-out;
}

.btn:hover:before {
    left: 0;
    width: 100%;
}

.page-num {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #4f4538;
}

.page-num span {
    font-size: 3rem;
    margin-right: 15px;
}